---
const { placeholder, searchQuery, pageSize } = Astro.props;
import { Button } from "@/components/ui/button";
import { Search } from 'lucide-react';
---

<form class="mb-6 flex items-center" method="GET" action="">
  <input type="hidden" name="page" value="1" />
  <input type="hidden" name="pageSize" value={pageSize} />
  <div class="relative flex-grow flex">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <Search className="h-5 w-5 text-gray-400" />
    </div>
    <input
      type="text"
      name="search"
      placeholder={placeholder}
      value={searchQuery}
      class="pl-10 pr-4 py-2 w-full border rounded-md border-gray-300 text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-shadow duration-150"
    />
    <Button type="submit" className="ml-4" variant="default" size="default">
      Search
    </Button>
  </div>
</form>